# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
# Ignore the drupal yellowcube module and its dependencies
profiles/yellowcube_demo/modules/yellowcube