#zone-branding-wrapper {
  background-color: #fdd23b;
}

#region-branding {
  margin-top: 10px;
}

h1.site-name a{
  color: black;
}

.site-name-slogan{
  float: right;
  margin-top: 20px;
}

body {
  background: lightblue;
}
